<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/public/css/registration.css">
</head>
<body>
    <div class="registration-container">
        <h2>Registration</h2>
        <form action="#" method="post">
            <div class="input-container">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Create a password">
            </div>
            <div class="input-container">
                <i class="fa-solid fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Confirm a password">
            </div>
            <div class="accept">
                <input type="checkbox" id="accept" name="accept">
                <p>I accept all terms & conditions</p>
            </div>
            <button type="submit">Registration Now</button>
            <div class="login">
                <p>Already have an account</p>
                <a href="/public/view/login.html">Login now</a>
            </div>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/fb66dd7b25.js" crossorigin="anonymous"></script>
</body>
</html>